<div layout="column" flex>
    <span class="md-title">{{title}}</span>
    <div class="blue-text" style="font-size:34px;font-weight:lighter">
        <div ng-if="values">
            <span ng-repeat="v in values">
                {{v}}<small style="font-size:17px;padding-left:2px;">{{units[$index]}}</small>
            </span>
        </div>
        <span ng-if="value">
            {{value?value:'--'}}<small ng-show="value" style="font-size:17px;padding-left:3px;">{{unit}}</small>
        </span>
    </div>
    <small class="grey-text">{{info}}</small>
</div>