<md-sidenav class="md-sidenav-left blue darken-3 white-text" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
            flex layout="column" style="min-width:320px">
    <md-toolbar md-whiteframe="2" class="blue darken-4">
        <span flex></span>
        <div class="md-toolbar-tools">
            <img src="../images/logo.png" width="50" height="50" />
            <h2>
                <b>Powerful Trainer</b>
            </h2>
            <span flex></span>
            <md-icon md-font-icon="fa fa-angle-left" class="pointer" ng-show="hideTooltipOnXS" ng-click="toggleNavLeft()"></md-icon>
        </div>
    </md-toolbar>
    <md-menu-sidenav flex>
        <md-menu-sidenav-item ng-class="{'toggle-active': ('cpanel.index' | includedByState)||('cpanel.report' | includedByState)}">
            <md-menu-sidenav-title>
                <md-toogle-menu layout="row" flex>
                    <md-icon md-font-icon="fa fa-th-large"></md-icon>
                    <h1 class="md-body-2" flex>Dashboard</h1>
                </md-toogle-menu>
                <md-icon md-font-icon="fa fa-caret-down"></md-icon>
            </md-menu-sidenav-title>
            <md-menu-sidenav-content>
                <md-menu-sidenav-subitem ui-sref="cpanel.index" ui-sref-active="active" ng-click="toggleNavLeft()">Dashboard</md-menu-sidenav-subitem>
                <md-menu-sidenav-subitem ui-sref="cpanel.report.health" ui-sref-active="active" ng-click="toggleNavLeft()">Health summary</md-menu-sidenav-subitem>
                <md-menu-sidenav-subitem ui-sref="cpanel.report.workout" ui-sref-active="active" ng-click="toggleNavLeft()">Workout summary</md-menu-sidenav-subitem>
            </md-menu-sidenav-content>
        </md-menu-sidenav-item>
        <md-menu-sidenav-item ng-class="{active: ('cpanel.plan' | includedByState)}" ui-sref="cpanel.plan.index"  ng-click="toggleNavLeft()">
            <md-menu-sidenav-title>
                <md-icon md-font-icon="fa fa-leaf"></md-icon>
                <h1 class="md-body-2" flex>Workout plans</h1>
            </md-menu-sidenav-title>
        </md-menu-sidenav-item>
        <md-menu-sidenav-item ng-class="{active: ('cpanel.contact' | includedByState)}" ui-sref="cpanel.contact.index"  ng-click="toggleNavLeft()">
            <md-menu-sidenav-title>
                <md-icon md-font-icon="fa fa-users"></md-icon>
                <h1 class="md-body-2" flex>My contacts</h1>
            </md-menu-sidenav-title>
        </md-menu-sidenav-item>
    </md-menu-sidenav>

    <md-list>
        <md-divider></md-divider>
        <md-list-item ui-sref="!#"  ng-click="toggleNavLeft()">
            <md-icon md-font-icon="fa fa-wrench white-text" style="margin-right:0"></md-icon>
            <p>Settings</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-2-line md-small-line" ng-class="{active: ('cpanel.profile' | includedByState)}">
            <img src="../images/avatar-default.png" ng-data-src="{{User.Avatar}}" class="md-avatar pointer" ui-sref="cpanel.profile"/>
            <div class="md-list-item-text">
                <h3 class="pointer" ui-sref="cpanel.profile">{{User.Name || User.Username}}</h3>
                <small><u class="pointer" ng-click="logout()" ng-controller="AuthCtrl">Sign out</u></small>
            </div>
        </md-list-item>
    </md-list>
</md-sidenav>