@import "variables.scss";

body {
    overflow-y: hidden !important;
}

.pace {
    z-index: 1000;
}

.fa-15x {
    font-size: 1.5em;
}

.center {
    text-align: center;
}

md-toast {

    &.md-info-toast-theme {
        .md-toast-content {
            background-color: $info-toast;
        }
    }

    &.md-success-toast-theme {
        .md-toast-content {
            background-color: $success-toast;
        }
    }

    &.md-danger-toast-theme {
        .md-toast-content {
            background-color: $danger-toast;
        }
    }
}

.md-list-item-text {
    div[layout="row"] .md-button {
        margin-top: -8px;
    }
}

.md-toolbar-tools {
    min-height: 64px;
}

.layout-padding-left {
    padding-left: 8px;
}

.layout-padding-right {
    padding-right: 8px;
}

.md-circle {
    border-radius: 100%;
}

.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

.md-fab.md-fab-bottom-right {
    transition-property: transform, background-color, box-shadow;
}

.md-fab.md-fab-bottom-right.hide2 {
    transform: translateY(200%);
}

.md-scroll-mask {
    position: initial;
}

md-card-header {
    background-color: rgb(250, 250, 250);
}

md-chips .md-chips {
    box-shadow: inherit;
}

.pointer {
    cursor: pointer !important;
}

.move {
    cursor: move !important;
}

.input-advanced.hint {
    /* Position the hint */
    position: absolute;
    //left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}

.input-advanced.hint.ng-hide,
.input-advanced.hint.ng-enter,
.input-advanced.hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}

.input-advanced.hint.ng-leave,
.input-advanced.hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}

.ng-inline-edit__input {
    border-bottom: 1px dashed #333;
}

.ng-inline-edit--error .ng-inline-edit__input {
    border-color: #f00;
}

.ng-inline-edit__button {
    color: #00f;
    font-size: 15px;
    margin-left: 5px;
}

.md-pagination-select {
    md-select-menu {
        display: inline;
    }
}

md-select.md-table-select {
    margin-bottom: 10px;

    ._md-select-value > span:not(._md-select-icon) ._md-text {
        float: right;
    }
}

.virtual-repeat-infinite-scroll {
    &.vertical-container {
        height: 292px;
        width: 100%;
        max-width: 400px;

        .repeated-item {
            border-bottom: 1px solid #ddd;
            box-sizing: border-box;
            height: 40px;
            padding-top: 10px;
        }

        .md-virtual-repeat-container {
            border: solid 1px grey;

            .md-virtual-repeat-offsetter div {
                padding-left: 16px;
            }
        }
    }
}

mdp-date-picker, mdp-time-picker {
    md-input-container {
        width: 100%;
    }
}

span.dotted {
    border-bottom: 1px dashed #999;
    text-decoration: none;
    padding: 5px 20px;

    &.error {
        border-bottom-color: #F44336;
    }
}

.fix-to-top {
  position: fixed;
  top: 0;
}

.toolbar-fixed {
    > md-toolbar {
        @extend .fix-to-top;
        max-width: 1046px;
    }

    > md-content {
        padding-top: 64px;
    }
}

#loading-bar {
    .bar {
        background-color: #fff;

        .peg {
            -moz-box-shadow: #fff 1px 0 6px 1px;
            -ms-box-shadow: #fff 1px 0 6px 1px;
            -webkit-box-shadow: #fff 1px 0 6px 1px;
            box-shadow: #fff 1px 0 6px 1px;
        }
    }
}

#loading-bar-spinner {
    right: 10px;
    left: inherit;

    .spinner-icon {
        border-top-color: #fff;
        border-left-color: #fff;
    }
}
