.event-model {
    .md-subheader-inner {
        padding-left: 0;
    }
}

.plan-list-item {
    ._md-secondary-container {
        display: inline-table;
        margin-right: 15px;
    }
}

.edit-ex-btn {
    border: 1px rgba(0, 0, 0, 0.26)  solid;
    box-shadow: inherit;

    &:hover {
        background: rgba(0, 0, 0, 0.16);
    }
}