<div layout="column" layout-align="center none" flex>
    <md-toolbar md-scroll-shrink ng-if="true" md-whiteframe="2" flex>
        <div class="md-toolbar-tools">
            <div layout-fill layout-align="start center">
                <div style="display:inline-flex">
                    <span style="height:52px">
                        <image src="../images/plan-avatar-default.png" data-ng-src="{{plan.Image}}"class="md-avatar"
                               width="40" height="40" ng-click="showPlanImagePicker()" style="margin:12px 5px 0 0" />
                        <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                            Click to change
                        </md-tooltip>
                    </span>
                    <input type="file" id="planImagePicker" ng-model="planImage" maxsize="1024"
                           base-sixty-four-input ng-hide="true" accept="image/*" on-after-validate="setPlanImage"/>
                    <md-input-container md-no-float class="md-icon-right" md-theme="default-yellow-dark" style="padding-left:0">
                        <input name="plan_name" ng-model="plan.Name" placeholder="Plan name" required minlegth="3" />
                        <md-icon md-font-icon="fa fa-pencil"></md-icon>
                    </md-input-container>
                </div>
            </div>
            <span flex></span>
            <md-button class="md-icon-button md-mini" aria-label="Add event" ng-click="plan.PlanData.push({Name: 'New Event', Bundles: [], Actions: []})">
                <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                    Add event
                </md-tooltip>
                <md-icon md-font-icon="fa fa-plus fa-15x"></md-icon>
            </md-button>
            <md-button ng-if="false" md-theme="default-dark" class="md-fab md-mini md-primary" aria-label="Save" ng-disabled="plan.PlanData.length==0 || isSaving" ng-click="save()">
                <md-tooltip md-theme="default" md-direction="bottom" ng-hide="hideTooltipOnXS">
                    Save
                </md-tooltip>
                <md-icon md-font-icon="fa fa-floppy-o fa-15x"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex>
        <md-card class="event-model" ng-mouseenter="showEDelBtn=true" ng-mouseleave="showEDelBtn=false" md-whiteframe="2"
                 ng-repeat="event in plan.PlanData">
            <md-card-header>
                <md-card-header-text layout="row">
                    <div ng-click="hideCardContent=!hideCardContent">
                        <md-button class="md-icon-button" ng-show="hideCardContent" aria-label="Expend">
                            <md-icon md-font-icon="fa fa-angle-down fa-2x"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-hide="hideCardContent" aria-label="Collapse">
                            <md-icon md-font-icon="fa fa-angle-up fa-2x"></md-icon>
                        </md-button>
                    </div>
                    <div flex layout="column">
                        <span class="md-title" inline-edit="event.Name" inline-edit-on-blur="cancel" inline-edit-validation="!!newValue" inline-edit-on-click
                              inline-edit-btn-edit="<md-icon md-font-icon='fa fa-pencil'></md-icon"></span>
                        <span class="md-subhead">Add some conditions and actions for this event</span>
                    </div>
                    <md-button class="md-icon-button md-mini md-accent" aria-label="Remove event" ng-show="showEDelBtn"
                               ng-click="plan.PlanData.remove(event)">
                        <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                            Remove event
                        </md-tooltip>
                        <md-icon md-font-icon="fa fa-trash fa-15x"></md-icon>
                    </md-button>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content ng-hide="hideCardContent">
                <md-list>
                    <md-subheader layout="row">
                        <md-button class="md-icon-button" ng-show="hideConditionContent" aria-label="Expend" ng-click="hideConditionContent=!hideConditionContent">
                            <md-icon md-font-icon="fa fa-angle-down fa-15x"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-hide="hideConditionContent" aria-label="Collapse" ng-click="hideConditionContent=!hideConditionContent">
                            <md-icon md-font-icon="fa fa-angle-up fa-15x"></md-icon>
                        </md-button>
                        <span ng-click="hideConditionContent=!hideConditionContent"><b>CONDITIONS</b></span>
                        <md-button class="md-icon-button md-mini md-primary" aria-label="Add condition bundle"
                                   ng-click="event.Bundles.push({Name: 'New Bundle Condition', Conditions: []});hideConditionContent=false">
                            <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                                Add condition bundle
                            </md-tooltip>
                            <md-icon md-font-icon="fa fa-plus fa-15x"></md-icon>
                        </md-button>
                    </md-subheader>
                    <div class="layout-padding-left" ng-hide="hideConditionContent">
                        <md-list-item class="md-3-line layout-padding-left" ng-repeat="bundle in event.Bundles"
                                      ng-mouseenter="showBDelBtn=true" ng-mouseleave="showBDelBtn=false">
                            <div class="md-list-item-text" layout="column">
                                <div layout="row">
                                    <h3 inline-edit="bundle.Name" inline-edit-validation="!!newValue" inline-edit-on-blur="cancel" inline-edit-on-click
                                        inline-edit-btn-edit="<md-icon md-font-icon='fa fa-pencil'></md-icon"></h3>
                                    <md-button class="md-icon-button md-mini md-primary" aria-label="Add condition" ng-click="addCondition($event, bundle)">
                                        <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                                            Add condition
                                        </md-tooltip>
                                        <md-icon md-font-icon="fa fa-plus"></md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button md-mini md-accent" aria-label="Remove condition bundle"
                                               ng-show="showBDelBtn" ng-click="event.Bundles.remove(bundle)">
                                        <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                                            Remove condition bundle
                                        </md-tooltip>
                                        <md-icon md-font-icon="fa fa-trash"></md-icon>
                                    </md-button>
                                </div>
                                <md-list class="layout-padding-left">
                                    <md-list-item class="md-2-line" ng-repeat="condition in bundle.Conditions" ng-mouseenter="showCDelBtn=true" ng-mouseleave="showCDelBtn=false">
                                        <div class="md-list-item-text" layout="column">
                                            <div layout="row">
                                                <span>{{condition.Name}}</span>
                                                <md-button class="md-icon-button md-mini md-accent" aria-label="Remove condition"
                                                           ng-show="showCDelBtn" ng-click="bundle.Conditions.remove(condition)">
                                                    <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                                                        Remove condition
                                                    </md-tooltip>
                                                    <md-icon md-font-icon="fa fa-trash"></md-icon>
                                                </md-button>
                                            </div>
                                            <p>
                                                {{condition | json}}
                                            </p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </md-list-item>
                    </div>
                    <md-divider></md-divider>
                    <md-subheader layout="row">
                        <md-button class="md-icon-button" ng-show="hideActionContent" aria-label="Expend" ng-click="hideActionContent=!hideActionContent">
                            <md-icon md-font-icon="fa fa-angle-down fa-15x"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-hide="hideActionContent" aria-label="Collapse" ng-click="hideActionContent=!hideActionContent">
                            <md-icon md-font-icon="fa fa-angle-up fa-15x"></md-icon>
                        </md-button>
                        <span ng-click="hideActionContent=!hideActionContent"><b>ACTIONS</b></span>
                        <span flex></span>
                        <md-button class="md-icon-button md-mini md-primary" aria-label="Add action" ng-click="addAction($event, event); hideActionContent=false">
                            <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                                Add action
                            </md-tooltip>
                            <md-icon md-font-icon="fa fa-plus fa-15x"></md-icon>
                        </md-button>
                    </md-subheader>
                    <div class="layout-padding-left" ng-hide="hideActionContent">
                        <div class="layout-padding-left" layout-fill>
                            <md-list-item class="md-3-line layout-padding-left" ng-repeat="action in event.Actions" ng-mouseenter="showADelBtn=true" ng-mouseleave="showADelBtn=false">
                                <div class="md-list-item-text" layout="column">
                                    <div layout="row">
                                        <h3>{{action.Action.Name}}</h3>
                                        <md-button class="md-icon-button md-mini md-accent" aria-label="Remove action"
                                                   ng-show="showADelBtn" ng-click="event.Actions.remove(action)">
                                            <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                                                Remove action
                                            </md-tooltip>
                                            <md-icon md-font-icon="fa fa-trash"></md-icon>
                                        </md-button>
                                    </div>
                                    <p>
                                        {{action | json}}
                                    </p>
                                </div>
                            </md-list-item>
                        </div>
                    </div>
                </md-list>
            </md-card-content>
        </md-card>
    </md-content>
    <md-button class="md-fab md-mini md-primary md-fab-bottom-right" aria-label="Save" ng-disabled="plan.PlanData.length==0 || isSaving" ng-click="save()">
        <md-tooltip md-theme="default" md-direction="bottom" ng-hide="hideTooltipOnXS">
            Save
        </md-tooltip>
        <md-icon md-font-icon="fa fa-floppy-o fa-15x"></md-icon>
    </md-button>
</div>