<md-toolbar md-scroll-shrink="enableScrollShrink" md-whiteframe="2" ng-hide="selected.length">
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button" aria-label="Left navigation toggle" ng-click="toggleNavLeft()" ng-controller="DashboardCtrl">
            <md-icon md-font-icon="fa fa-bars fa-15x"></md-icon>
        </md-button>
        <div layout-fill layout-align="start center">
            <div style="display:inline-flex;height:100%">
                <span style="height:52px">
                    <image src="../images/plan-avatar-default.png" data-ng-src="{{plan.Image}}" class="md-avatar"
                           width="40" height="40" ng-click="showPlanImagePicker()" style="margin:12px 5px 0 0" />
                    <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                        Click to change
                    </md-tooltip>
                </span>
                <input type="file" id="planImagePicker" ng-model="planImage" maxsize="1024"
                       base-sixty-four-input ng-hide="true" accept="image/*" on-after-validate="setPlanImage" />
                <md-input-container md-no-float class="md-icon-right" md-theme="default-yellow-dark" style="padding-left:0">
                    <input name="plan_name" ng-model="plan.Name" placeholder="Plan name" required minlegth="3" />
                    <md-icon md-font-icon="fa fa-pencil"></md-icon>
                </md-input-container>
            </div>
        </div>
        <span flex></span>
        <md-button class="md-icon-button md-mini" aria-label="Add event" ng-click="addExercise($event)">
            <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                Add event
            </md-tooltip>
            <md-icon md-font-icon="fa fa-plus fa-15x"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-toolbar class="md-table-toolbar alternate blue darken-3 white-text" md-whiteframe="2" ng-show="selected.length"
            set-class-when-at-top="fix-to-top">
    <div class="md-toolbar-tools">
        <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
        <span flex></span>
        <md-button class="md-icon-button md-mini md-accent" aria-label="Remove exercises"
                   ng-click="removeEx($event)">
            <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                Remove exercises
            </md-tooltip>
            <md-icon md-font-icon="fa fa-trash fa-15x"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content layout-padding flex ng-class="{'fix-shrink-content': !enableScrollShrink}">
    <div>
        <md-card style="padding:0">
            <md-card-header style="padding: 5px">
                <md-button ng-hide="hideGoal" ng-click="hideGoal=true" class="md-icon-button">
                    <md-icon md-font-icon="fa fa-angle-up fa-2x"></md-icon>
                </md-button>
                <md-button ng-show="hideGoal" ng-click="hideGoal=false" class="md-icon-button">
                    <md-icon md-font-icon="fa fa-angle-down fa-2x"></md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon md-font-icon="fa fa-flag-checkered fa-2x"></md-icon>
                </md-button>
                <md-card-header-text>
                    <span class="md-title">Goal</span>
                    <span class="md-subhead">You can set your goal for this workout plan.</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content layout-padding ng-hide="hideGoal">
                <div layout="column" layout-gt-sm="row">
                    <md-input-container class="md-block" flex>
                        <input type="number" ng-model="plan.TotalCals" min="0" placeholder="Total cals (cals)" />
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <input type="number" ng-model="plan.TotalSteps" min="0" placeholder="Total steps (steps)" />
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <input type="number" ng-model="plan.AvgHeartRate" min="0" placeholder="Average heart rate (bpm)" />
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div ui-sortable ng-model="plan.Data">
        <md-card ng-repeat="ex in plan.Data">
            <md-card-title>
                <md-card-title-text>
                    <span flex class="md-headline">
                        <md-checkbox ng-checked="selected.exists(ex)" ng-click="selected.toggle(ex)" aria-label="{{ex.Name}}"></md-checkbox>
                        {{ex.Name}}
                    </span>
                    <div class="md-body-2" layout-padding layout="column" ng-if="!ex.IsRestItem">
                        <div layout="row" layout-xs="column">
                            <span flex="50">SETS: </span>
                            <div layout="row" ng-click="editSets($event, ex)" class="pointer">
                                <span class="dotted">{{ex.Sets||0}}</span>
                                <md-icon md-font-icon="fa fa-pencil"></md-icon>
                                <span flex></span>
                            </div>
                        </div>
                        <div layout="row" layout-xs="column">
                            <span flex="50">COMPLETION: </span>
                            <div layout="row" ng-click="editCompletion($event, ex)" class="pointer">
                                <span class="dotted" ng-class="{error:!ex.Repetitions&&!ex.Duration}">{{ex | CompletionFilter}}</span>
                                <md-icon md-font-icon="fa fa-pencil"></md-icon>
                                <span flex></span>
                            </div>
                        </div>
                        <div layout="row" ng-if="ex.Sets>1"  layout-xs="column">
                            <span flex="50">REST BETWEEN SETS</span>
                            <div layout="row" ng-click="editRestTime($event, ex)" class="pointer">
                                <span class="dotted">{{ex | RestTimeFilter}}</span>
                                <md-icon md-font-icon="fa fa-pencil"></md-icon>
                                <span flex></span>
                            </div>
                        </div>
                    </div>
                </md-card-title-text>
                <md-card-title-media>
                    <img src="" ng-src="{{ex.Thumbnail}}" class="md-media-lg pointer" ng-click="showExPreview($event, ex)">
                    <md-tooltip md-direction="left" ng-hide="hideTooltipOnXS">
                        Show Exercise Preview
                    </md-tooltip>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-accent" ng-click="plan.Data.remove(ex)">Delete</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
<md-button class="md-fab md-primary md-fab-bottom-right" aria-label="Save" ng-disabled="plan.Data.length==0 || isSaving" ng-click="save()">
    <md-tooltip md-theme="default" md-direction="bottom" ng-hide="hideTooltipOnXS">
        Save
    </md-tooltip>
    <md-icon md-font-icon="fa fa-floppy-o fa-2x"></md-icon>
</md-button>