<md-toolbar md-scroll-shrink="enableScrollShrink" ng-if="true" md-whiteframe="2">
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button" aria-label="Left navigation toggle" ng-click="toggleNavLeft()" ng-controller="DashboardCtrl">
            <md-icon md-font-icon="fa fa-bars fa-15x"></md-icon>
        </md-button>
        <h2>
            <b>Dashboard</b>
        </h2>
        <span flex></span>
        <h2 style="text-align:right">{{currentDate | date: 'EEE, MMM d, yyyy'}}</h2>
        <md-button class="md-icon-button" aria-label="Change date" ng-click="showDatePicker($event)">
            <md-tooltip direction="bottom" ng-hide="hideTooltipOnXS">
                Change date
            </md-tooltip>
            <md-icon md-font-icon="fa fa-calendar"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content flex>
    <md-card ng-show="showConnectMSHealth()">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Please connect with <span class="blue-text">Microsoft Health</span> to view reports</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content layout="row" layout-align="center">
            <md-button class="md-raised blue darken-2 white-text" ng-click="connectToMSHealth()">
                Connect
                <md-icon md-font-icon="fa fa-arrow-right" class="white-text"></md-icon>
            </md-button>
        </md-card-content>
    </md-card>
    <div layout-gt-sm="row" layout="column">
        <md-card flex ng-click="showReportChart('steps')" class="pointer">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Steps</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <state-card value="{{summary.stepsTaken}}" unit="steps"></state-card>
            </md-card-content>
        </md-card>
        <md-card flex ng-click="showReportChart('heartrates')" class="pointer">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Heart rate</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <state-card value="{{summary.heartRateSummary.averageHeartRate}}" unit="bpm"></state-card>
            </md-card-content>
        </md-card>
        <md-card flex ng-click="showReportChart('calories')" class="pointer">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Calories</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <state-card value="{{summary.caloriesBurnedSummary.totalCalories}}" unit="cals"></state-card>
            </md-card-content>
        </md-card>
    </div>
    <md-card ng-click="showReportChart('sleeps')" class="pointer">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Sleep</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div layout="column" ng-hide="sleepActivities.length">
                <div layout="column" layout-padding layout-gt-sm="row">
                    <div layout="row" flex>
                        <state-card title="Time asleep"></state-card>
                        <state-card title="Time efficiency"></state-card>
                    </div>
                    <div layout="row" flex>
                        <state-card title="Peak heart rate"></state-card>
                        <state-card title="Woke up"></state-card>
                    </div>
                </div>
            </div>
            <div layout="column" ng-repeat="activity in sleepActivities">
                <div layout="column" layout-padding layout-gt-sm="row">
                    <div layout="row" flex >
                        <state-card title="Time asleep" values="activity.sleepDuration" units="['h', 'm', 's']"></state-card>
                        <state-card title="Time efficiency" value="{{activity.sleepEfficiencyPercentage}}" unit="%"></state-card>
                    </div>
                    <div layout="row" flex>
                        <state-card title="Peak heart rate" value="{{activity.heartRateSummary.peakHeartRate}}" unit="bpm"></state-card>
                        <state-card title="Woke up" value="{{activity.numberOfWakeups}}" unit="times"></state-card>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </md-card-content>
    </md-card>
    <md-card ng-click="showReportChart('run')" class="pointer">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Run</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div layout="column" ng-hide="runActivities.length">
                <div layout="column" layout-padding layout-gt-sm="row">
                    <div layout="row" flex>
                        <state-card title="Duration"></state-card>
                        <state-card title="Calories burned"></state-card>
                    </div>
                    <div layout="row" flex>
                        <state-card title="Peak heart rate"></state-card>
                        <state-card title="Distance"></state-card>
                    </div>
                </div>
            </div>
            <div layout="column" ng-repeat="activity in runActivities">
                <div layout="column" layout-padding layout-gt-sm="row">
                    <div layout="row" flex>
                        <state-card title="Duration" values="activity.duration" units="['h', 'm', 's']"></state-card>
                        <state-card title="Calories burned" value="{{activity.caloriesBurnedSummary.totalCalories}}" unit="cals"></state-card>
                    </div>
                    <div layout="row" flex>
                        <state-card title="Peak heart rate" value="{{activity.heartRateSummary.peakHeartRate}}" unit="bpm"></state-card>
                        <state-card title="Distance" value="{{activity.distanceSummary.totalDistance}}" unit="km"></state-card>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </md-card-content>
    </md-card>
</md-content>