<md-dialog>
    <md-toolbar class="md-{{type}}">
        <div class="md-toolbar-tools">
            <h2>{{title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="{{title}}" ng-click="cancel()">
                <md-icon md-font-icon="fa fa-times fa-15x"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column" layout-align="center center">
            {{content}}
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button  md-autofocus class="md-accent" aria-label="Cancel" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button class="md-primary" aria-label="Ok" ng-click="close()">
            Confirm
        </md-button>
    </md-dialog-actions>
</md-dialog>