<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit completion</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
                <md-icon md-font-icon="fa fa-times fa-15x"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column" style="max-width:300px">
            <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom flex>
                <md-tab label="duration" ng-click="repetition=null;duration=1;">
                    <div layout-padding layout="row">
                        <md-input-container>
                            <input type="number" ng-model="durationMin" min="0" max="99" placeholder="Min" />
                        </md-input-container>
                        <md-input-container>
                            <input type="number" ng-model="durationSec" min="0" max="59" placeholder="Sec" />
                        </md-input-container>
                    </div>
                </md-tab>
                <md-tab label="repetition" ng-click="duration=null;repetitionChecker=repetitionChecker||1;repetition=1">
                    <div layout-padding>
                        <md-radio-group layout="column" ng-model="repetitionChecker">
                            <div layout="row">
                                <md-radio-button value="1"></md-radio-button>
                                <md-input-container>
                                    <input type="number" min="1" ng-model="repetitionCount" ng-disabled="repetitionChecker==0" max="999" placeholder="Reps" />
                                </md-input-container>
                            </div>
                            <md-radio-button value="0">Max reps</md-radio-button>
                        </md-radio-group>
                    </div>
                </md-tab>
            </md-tabs>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-accent" aria-label="Cancel" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button class="md-primary" aria-label="Ok" ng-click="close()">
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>