<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit rest between sets</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
                <md-icon md-font-icon="fa fa-times fa-15x"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column"  style="max-width:300px">
            <md-radio-group layout="column" ng-model="restTimeChecker">
                <div layout="row">
                    <md-radio-button value="1"></md-radio-button>
                    <md-input-container>
                        <input type="number" ng-model="restTimeMin" ng-disabled="restTimeChecker==0" min="0" max="99" placeholder="Min" />
                    </md-input-container>
                    <md-input-container>
                        <input type="number" ng-model="restTimeSec" ng-disabled="restTimeChecker==0" min="0" max="59" placeholder="Sec" />
                    </md-input-container>
                </div>
                <md-radio-button value="0">As need</md-radio-button>
            </md-radio-group>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-accent" aria-label="Cancel" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button class="md-primary" aria-label="Ok" ng-click="close()">
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>