<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{exercise.Name}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
                <md-icon md-font-icon="fa fa-times fa-15x"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column">
            <md-content layout="column" layout-gt-sm="row">
                <video flex-gt-sm="50" flex controls autoplay style="max-height:300px">
                    <source src="" ng-src="{{exercise.VideoUrl}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div layout="row" layout-gt-sm="column" layout-padding>
                    <div layout="column" layout-gt-sm="column" layout-padding>
                        <div>
                            Difficulty level<br />
                            {{exercise.DifficultyLevel}}
                        </div>
                        <div>
                            Focus<br />
                            {{exercise.Focus}}
                        </div>
                    </div>
                    <div layout="column" layout-gt-sm="column" layout-padding>
                        <div>
                            Equipment<br />
                            {{exercise.Equipment}}
                        </div>
                        <div>
                            Body part(s)<br />
                            {{exercise.BodyParts}}
                        </div>
                    </div>
                </div>
            </md-content>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button aria-label="Close" ng-click="cancel()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>