<md-edit-dialog>
    <md-content layout="row">
        <video width="400" height="225" controls autoplay>
            <source src="" ng-src="{{getVideoSrc(exercise.VideoId)}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div layout="column" layout-padding style="max-width:300px">
            <div>
                Difficulty level<br />
                {{exercise.DifficultyLevel}}
            </div>
            <div>
                Focus<br />
                {{exercise.Focus}}
            </div>
            <div>
                Equipment<br />
                {{exercise.Equipment}}
            </div>
            <div>
                Body part(s)<br />
                {{exercise.BodyParts}}
            </div>
        </div>
    </md-content>
</md-edit-dialog>