<md-dialog style="min-width:30%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{isWaitingResponse?'Waiting responses':'Friend requests'}}</h2>
            <div flex></div>
            <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
                <md-icon md-font-icon="fa fa-times fa-15x"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column">
            <div layout="row" layout-align="center center" ng-show="contacts.length==0">
                <h3>You don't have any request.</h3>
            </div>
            <md-list>
                <md-list-item md-ink-ripple class="md-2-line" ng-repeat="contact in contacts">
                    <img src="../images/avatar-default.png" data-ng-src="{{contact.Avatar}}" class="md-avatar">
                    <div class="md-list-item-text">
                        <h3><b>{{contact.Name || contact.Username}}</b></h3>
                        <p>
                            {{contact.Username}}
                            <span ng-show="contact.Type"> (Trainer)</span>
                        </p>
                    </div>
                    <div class="md-secondary" layout="row">
                        <md-button ng-if="!isWaitingResponse" class="md-fab md-raised md-mini md-primary" aria-label="Accept" ng-click="accept(contact)">
                            <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                                Accept
                            </md-tooltip>
                            <md-icon md-font-icon="fa fa-check fa-15x"></md-icon>
                        </md-button>
                        <md-button class="md-fab md-raised md-mini md-accent" aria-label="Decline" ng-click="decline(contact)">
                            <md-tooltip md-direction="bottom" ng-hide="hideTooltipOnXS">
                                {{isWaitingResponse?'Cancel request':'Decline'}}
                            </md-tooltip>
                            <md-icon md-font-icon="fa fa-times fa-15x"></md-icon>
                        </md-button>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-accent" aria-label="Cancel" ng-click="cancel()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>