<div layout="column" layout-align="center center" layout-fill id="register-page" ng-controller="AuthCtrl">
    <md-card md-whiteframe="24">
        <md-card-header class="blue darken-3 white-text" md-whiteframe="2">
            <md-button title="Login" aria-label="Login" class="md-icon-button" ui-sref="login">
                <md-icon class="white-text" md-font-icon="fa fa-arrow-left fa-inverse fa-15x"></md-icon>
            </md-button>
            <md-card-avatar>
                <img src="../images/logo.png" />
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-headline">Powerful Trainer</span>
            </md-card-header-text>
        </md-card-header>
        <md-progress-linear ng-show="progressing" md-mode="indeterminate"></md-progress-linear>
        <md-card-content>
            <form layout="column" layout-gt-sm="row" name="registerForm" ng-submit="register(reigsterForm)">
                <div flex layout-padding layout="column">
                    <md-input-container layout-align="center center" layout="row">
                        <img src="../images/avatar-default.png" data-ng-src="data:{{userAvatar.filetype}};base64,{{userAvatar.base64}}"
                             class="md-avatar" width="160" height="160"/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-icon md-font-icon="fa fa-picture-o"></md-icon>
                        <div layout="row" style="height:20px">
                            <md-button class="md-primary md-mini md-raised" ng-click="showUserAvatarPicker(registerForm)"
                                       style="margin-top:-4px" aria-label="Choose a avatar image">Choose</md-button>
                            <md-input-container class="md-block" style="margin:0">
                                <label>Avatar</label>
                                <input type="text" ng-model="userAvatar.filename" ng-disabled="true" />
                                <div ng-messages="registerForm.userAvatar.$error" md-auto-hide="false">
                                    <div ng-message="maxsize">The size maximun is 1025KB</div>
                                    <div ng-message="accept">Not a valid image</div>
                                </div>
                            </md-input-container>
                        </div>
                        <input id="userAvatarPicker" aria-label="Image picker" name="userAvatar" ng-hide="true" ng-model="userAvatar" type="file"
                               maxsize="1024" accept="image/*" base-sixty-four-input on-after-validate="setUserAvatar" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-icon md-font-icon="fa fa-user-md"></md-icon>
                        <input name="name" ng-model="user.name" type="text" placeholder="Full name" maxlength="40" />
                        <div ng-messages="registerForm.name.$error">
                            <div ng-message="maxlength">The name is too long! (max: 40).</div>
                        </div>
                    </md-input-container>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" style="margin-top: 0">
                            <label>Gender</label>
                            <md-icon md-font-icon="fa fa-venus-mars"></md-icon>
                            <md-select ng-model="user.gender">
                                <md-option ng-repeat="gender in ['Male', 'Female', 'Other'] track by $index" value="{{$index}}">{{gender}}</md-option>
                            </md-select>
                        </md-input-container>
                        <div flex></div>
                        <div layout="column">
                            <md-datepicker ng-model="user.birthday" md-placeholder="Birthday"></md-datepicker>
                            <div class="input-advanced hint" style="position: inherit;margin-left: 35px;">mm/dd/yyyy</div>
                        </div>
                    </div>
                </div>
                <div flex layout-padding layout="column">
                    <md-input-container class="md-block">
                        <md-icon md-font-icon="fa fa-user"></md-icon>
                        <input name="username" ng-model="user.username" type="text" placeholder="Username" required minlength="3" maxlength="10" />
                        <div ng-messages="registerForm.username.$error">
                            <div ng-message-exp="['required', 'minlength', 'maxlength']">The username must be between 3 and 10 characters.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-icon md-font-icon="fa fa-key"></md-icon>
                        <input name="password" ng-model="user.password" type="password" placeholder="Password" required minlength="8" maxlength="50" />
                        <div ng-messages="registerForm.password.$error">
                            <div ng-message-exp="['required', 'minlength', 'maxlength']">The password must be between 8 and 50 characters.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-icon md-font-icon="fa fa-key"></md-icon>
                        <input name="password_confirmation" ng-model="user.password_confirmation" type="password" placeholder="Confirm password" required match="user.password" />
                        <div ng-messages="registerForm.password_confirmation.$error">
                            <div ng-message="match">The password confirmation do not match.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-checkbox ng-model="user.type">
                            Become a trainer.
                        </md-checkbox>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-checkbox ng-model="user.checkbox">
                            Agree to our Terms and Data Policy.
                        </md-checkbox>
                    </md-input-container>
                    <div layout="row" layout-align="center center">
                        <md-button type="submit" class="md-fab md-primary" ng-disabled="!user.checkbox || !isValidForm(registerForm) || progressing" title="Register" aria-label="Register" ng-click="register(registerForm)">
                            <md-icon md-font-icon="fa fa-check fa-15x"></md-icon>
                        </md-button>
                    </div>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>